/*@media all and (min-width: 1020px) {
 
}*/

@media all and (max-width: 1019px) {
  .wrapper {
    width: 768px;
  }

  .header-nav {
    padding-top: 32px;
  }
  .slider-block {
    height: 445px;
  }
  .left-slider {
    padding-left: 60px;
  }
  .right-slider {
    padding-left: 58px;
  }

  .phone-button {
    width: 31px;
    height: 31px;
  }
  #vertical-phone-button {
    left: -334px;
    top: 78px;
  }
  #horizontal-phone-button {
    left: -51px;
    top: -73px;
  }
  /**PIRTFOLIO*/
  .servises-block {
    height: 669px;
  }
  .slide-container {
    height: 455px;
  }
  .services-header {
    padding-top: 46px;
  }
  .layout-3-column {
    margin-top: 36px;
  }
  .services-info {
    width: 50%;
    margin-bottom: 19px;
  }
  .services-info p {
    margin-top: 11px;
  }
  .portfolio {
    height: 1096px;
  }
  .nav-list {
    margin-top: 45px;
  }
  .layout-gallery {
    margin-top: 20px;
  }
  .picture {
    height: 184px;
    width: 215px;
  }

  /**ABOUT AS*/
  .about {
    height: 663px;
  }
  .header-about {
    padding-top: 53px;
  }
  .autors {
    padding-top: 20px;
  }
  .autor-info {
    padding-left: 11px;
    padding-right: 2px;
  }
  .human-photo {
    width: 219px;
    height: 217px;
  }
  .human-name {
    margin-top: 9px;
  }
  .human-info {
    margin: 0;
  }
  .contacts {
    margin-top: 12px;
  }

  /**FORMS*/
  .block-forms {
    height: 625px;
  }
  .quote-header {
    padding-top: 53px;
  }
  .quote-info {
    margin-bottom: 16px;
  }
  .user-information {
    padding-top: 0;
  }
  .forms {
    padding-top: 0;
  }
  .input-wind {
    margin-bottom: 3px;
    width: 426px;
  }
  .form-text {
    height: 147px;
  }
  .infomation {
    margin-left: 19px;
  }
  .contact-header {
    padding-top: 8px;
  }
  .contact-info {
    padding-top: 0px;
  }
  .column-contacts {
    padding-top: 13px;
  }

  /*PHONS**/

  .vertical-phone {
    left: 412px;
    top: 269px;
  }

  .vertical-container {
    width: 162.36px;
    height: 344.26px;
  }

  .vertical-back {
    width: 141.55px;
    height: 250.73px;
    top: -179px;
    left: -390px;
  }

  .vertical-shadow {
    width: 180.71px;
    height: 363.67;
  }

  .horizontal-container {
    width: 162.36px;
    height: 344.26px;
  }

  .horizontal-back {
    height: 141.55px;
    width: 250.73px;
    top: -128px;
    left: -13px;
  }

  .horizontal-shadow {
    width: 180.71px;
    height: 363.67;
  }

  .horizontal-phone {
    left: 304px;
    top: 271px;
  }

  .slider-two-img {
    height: 363.67px;
    top: 41px;
    left: 140px;
  }
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 374px) {
}
