body {
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

/*--QUOTE BLOCK--*/

.block-forms {
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote-header {
  margin: 0;
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  padding-left: 40px;
  padding-top: 59px;
}

.quote-info {
  padding-left: 40px;
  padding-right: 40px;
  width: 940px;
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

.user-information {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

/*FORMS*/

.forms {
  display: flex;
  flex-direction: column;
  color: #f48c8f;
  font-weight: 400;
}

.form-name,
.form-subject,
.form-text,
.form-mail {
  width: 619px;
  margin-top: 16px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.form-text {
  resize: none;
}

/*CONTACTS*/

.infomation {
  color: #f0d8d9;
  display: flex;
  flex-direction: column;
}

.contact-header {
  font-size: 18px;
  font-weight: 900;
}

.links-cont {
  text-decoration: none;
  color: #f0d8d9;
  padding-bottom: 5px;
}

.contact-location:after {
  content: url("./assets/singolo3/contacts/location.svg");
}
/*--FOOTER BLOCK--*/

.footer {
  margin: 0;
  padding: 0;
  height: 76px;
  background-color: #2d303a;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding-left: 42px;
  padding-top: 18px;
}

.social {
  padding-right: 38px;
  padding-top: 21px;
}

.google,
.facebook,
.twitter,
.link {
  padding-left: 2px;
}
