body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

/*--------SINGOLO1---------------*/

/*----- HEADER BLOCK----*/
.header {
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: sticky;
  top: 0;
  z-index: 6;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.hidden-menu {
  position: absolute;
  height: 100vh;
  width: 300px;
  left: 0;
  top: 0;
  overflow: hidden;
  display: none;
}

.menu-container {
  background: #2d303a;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100vh;
  z-index: 6;
  transition: 0.5s;
}

.menu-back {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2d303a;
  opacity: 0.6;
  z-index: 5;
  transition: 0.5s;
  display: none;
  cursor: pointer;
}
.menu-mobile {
  margin-top: 181px;
  margin-left: 31px;
}

.menu-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.menu-link:hover {
  color: #f06c64;
  transition: color 0.1s linear;
}

/*==LOGO==*/

.logo-singolo {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 40px;
}

.logo-singolo:after {
  content: "*";
  font-size: 26px;
  color: #f06c64;
  padding-top: 1px;
  margin: 0px;
}

.toogle-nav {
  display: none;
}

/*==Navigation==*/

.header-nav {
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 6px;
  padding-top: 34px;
}

.nav-link {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

.nav-link::before {
  content: "·";
  font-weight: 400;
  margin-left: 11px;
  margin-right: 12px;
  color: gray;
}

.nav-link:first-child:before {
  content: none;
}

.active-header {
  color: #f06c64;
}

.nav-link:hover {
  color: #f06c64;
  transition: color 0.1s linear;
}

/*--------SLIDER BLOCK----------*/

.slider-block {
  height: 594px;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  transition: 1s;
}

.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.slide-container {
  height: 600px;
  width: 810px;
  position: relative;
  overflow: hidden;
}

.slider-two {
  position: absolute;
}

.slider-two-img {
  position: absolute;
  top: 52px;
  left: 140px;
}

.item {
  display: none;
  animation: 1s ease-in-out;
}

.active-item,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -150%;
  }
}

@keyframes right {
  from {
    left: 150%;
  }
  to {
    left: 0;
  }
}

/*==LEFT & RIGHT ICON==*/

.left-slider {
  width: 16px;
  height: 27px;
  padding-left: 84px;
  margin-bottom: 5px;
  background-image: url("assets/singolo1/slider/chev.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
}

.right-slider {
  width: 16px;
  height: 27px;
  transform: rotate(180deg);
  padding-left: 80px;
  margin-bottom: 5px;
  background-image: url("assets/singolo1/slider/chev.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
}

.right-slider:hover,
.left-slider:hover {
  cursor: pointer;
  background-image: url("assets/singolo1/slider/chev white.svg");
  transition: 0.2s;
}

.phons {
  position: absolute;
}

.vertical-phone {
  position: absolute;
  left: 405px;
  top: 281px;
}

.horizontal-phone {
  position: absolute;
  left: 406px;
  top: 284px;
}

/*==VERTICAL PHONE==*/

.vertical-container {
  position: absolute;
  left: -401px;
  top: -228px;
  z-index: 2;
}

.vertical-back {
  top: -163px;
  left: -386px;
  width: 188px;
  height: 333px;
  background-image: url("assets/singolo1/slider/back phone 1.png");
  background-position: -14px -135px;
  position: absolute;
  z-index: 3;
}

.vertical-shadow {
  position: absolute;
  left: -400px;
  top: -228px;
  z-index: 1;
}
/**PHONE BUTTON*/

.phone-button {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  z-index: 4;
}

.phone-button:hover {
  cursor: pointer;
  border: 1px solid #f06c64;
}

#vertical-phone-button {
  left: -313px;
  top: 181px;
}

#horizontal-phone-button {
  left: -78px;
  top: -20px;
}

/*==HORIZONTAL PHONE==*/
.horizontal-container {
  position: absolute;
  left: 33px;
  top: -230px;
  transform: rotate(90deg);
  z-index: 2;
}

.horizontal-back {
  background-image: url("assets/singolo1/slider/back phone 2.png");
  position: absolute;
  height: 189px;
  width: 334px;
  background-position: -124px -118px;
  top: -94px;
  left: -28px;
  z-index: 3;
}

.horizontal-shadow {
  position: absolute;
  left: 38px;
  top: -228px;
  transform: rotateY(-188deg) rotate(90deg);
}

/*==SERVISES==*/

.servises-block {
  color: #767e9e;
  background-color: #f2f2f2;
  height: 494px;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 95px;
}

h1,
h2 {
  color: #666d89;
  margin: 0;
}

.services-header {
  padding: 65px 20px 0px 40px;
}

.services-logo {
  font-size: 30px;
  font-weight: 900;
  padding-top: 3px;
  line-height: 18px;
}

.services-header-info {
  font-size: 18px;
  font-weight: 300;
  margin-top: 27px;
  line-height: 30px;
  padding-right: 20px;
  text-align: justify;
  overflow: hidden;
}

/*COLUMS WITH ICON*/

.layout-3-column {
  margin-top: 46px;
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.services-info {
  padding-bottom: 20px;
  width: 33.33333%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-info p {
  width: 220px;
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  line-height: 21px;
  margin-left: 21px;
  margin-top: 12px;
}

.services-info h2 {
  font-size: 18px;
  font-weight: 900;
  margin-left: 20px;
  line-height: 18px;
}

.icon-border {
  height: 55px;
  width: 55px;
  border: 2px solid #666d89;
  border-radius: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin-left: 1px;
  margin-top: 2px;
}

.pen {
  background-image: url("assets/singolo1/services/pen.svg");
}
.bulb {
  background-image: url("assets/singolo1/services/bulb.svg");
}
.heart {
  background-image: url("assets/singolo1/services/heart.svg");
}
.phone {
  background-image: url("assets/singolo1/services/phone.svg");
}
.bubble {
  background-image: url("assets/singolo1/services/bubble.svg");
}
.star {
  background-image: url("assets/singolo1/services/star.svg");
}

/*------SINGOLO2-------*/

/*---BLOCK PORTFOLIO---*/

.portfolio {
  background-color: #2d303a;
  height: 863px;
  border-bottom: 6px solid #323746;
  scroll-margin-top: 95px;
}

/*HEADER PORTFOLIO*/

.header-portfolio {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 59px;
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
}

.info-portfolio {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 22px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}

/*HAVIGATION*/

.navigation-portfolio {
  color: #767e9e;
  align-items: center;
}

.nav-list {
  margin-top: 14px;
  margin-bottom: 13px;
}

.link-nav {
  display: inline;
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  border: 1px solid #666d89;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  margin-left: 1px;
  padding: 2px 6px 3px 7px;
}

.active-portfolio {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.link-nav:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

/*GALLERY PICTURES*/

.layout-gallery {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.picture:nth-child(1n + 13) {
  display: none;
}

.picture {
  margin: 10px;
  width: 220px;
  height: 187px;
}

.picture:hover {
  cursor: pointer;
}

.picture-click {
  background-color: #f06c64;
  margin: 5px;
  padding: 5px;
}

/*----ABOUT AS BLOCK-----*/

.about {
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 95px;
}

/*ABOUT AS*/

.header-about {
  margin: 0px;
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 59px;
}

.about-info {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 18px;
  text-align: justify;
}

/*PEOPLE INFO*/

.autors {
  padding-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}
.autor-info {
  padding-left: 10px;
  padding-right: 10px;
}

.human-photo {
  width: 300px;
  height: 300px;
}

.human-name {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  margin-top: 12px;
  margin-bottom: 0px;
}

.human-info {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  margin-top: 8px;
}

/*SOCIAL MEDIA*/

.contacts {
  margin-top: 23px;
}

.media-icon {
  padding-top: 0px;
  margin-right: 2px;
}

.media-icon:hover {
  cursor: pointer;
  background-color: #f06c64;
  /*border: 1px solid #f06c64;*/
  border-radius: 100%;
}

/*--------SINGOLO3-----*/

/*--QUOTE BLOCK--*/

.block-forms {
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  scroll-margin-top: 95px;
}

.quote-header {
  margin: 0;
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  padding-left: 40px;
  padding-top: 59px;
}

.quote-info {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

.user-information {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

/*FORMS*/

.forms-container {
  padding-right: 10px;
}

.forms {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding-top: 12px;
}

/*input styles*/
.input-wind {
  width: 604px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
  padding-left: 15px;
  padding-right: 0;
  padding-top: 0;
  margin-top: 9px;
  margin-bottom: 7px;
  transition: 0.2s;
  outline: none;
}

.input-wind:focus {
  background-color: #f48c8f;
}

.input-wind::-webkit-input-placeholder {
  font-family: "Lato";
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
}

.input-wind::-moz-placeholder {
  font-family: "Lato";
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
}

.input-wind::-ms-input-placeholder {
  font-family: "Lato";
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
}

/*textarea*/
.form-text {
  padding-top: 10px;
  font-family: "Lato";
  resize: none;
  height: 190px;
  outline: none;
}

/*submit button*/
.form-submit {
  margin-top: 10px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-family: "Lato";
  width: 150px;
  background-color: #f0d8d9;
  color: #2d303a;
  transition: 0.2s;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #d6564f;
  color: #f0d8d9;
}

.hidden-block {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2d303a6c;
  display: flex;
  z-index: 5;
}

.hidden {
  display: none;
}

#message {
  margin: auto;
  border-radius: 10px;
  border: 1px solid #323746;
  min-width: 350px;
  background-color: #d1e6dd;
  color: #666d89;
}

#message h3 {
  text-align: center;
}

#message div {
  margin-left: 10px;
}

#hide-message {
  width: 60px;
  margin: 10px;
  color: wheat;
  background-color: #666d89;
  border-radius: 5px;
  margin-left: 140px;
  margin-right: 140px;
  border: 1px solid #1f2747;
}

#hide-message:hover {
  cursor: pointer;
}

/*CONTACTS*/

.infomation {
  color: #f0d8d9;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.contact-header {
  margin: 0px;
  font-size: 18px;
  font-weight: 900;
  padding-top: 19px;
}

.contact-info {
  margin: 0px;
  line-height: 22px;
  text-align: justify;
  padding-top: 8px;
}

/*contact links*/
.column-contacts {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
}

.links-cont {
  text-decoration: none;
  color: #f0d8d9;
  padding-bottom: 6px;
  transition: 0.2s;
}

.links-cont:hover {
  text-decoration: underline;
}

.contact-location:before {
  content: url("./assets/singolo3/contacts/location.svg");
  padding-right: 13px;
  padding-left: 3px;
}

.contact-phone:before {
  content: url("./assets/singolo3/contacts/phone.svg");
  padding-right: 13px;
}

.contact-email:before {
  content: url("./assets/singolo3/contacts/mail.svg");
  vertical-align: middle;
  padding-right: 11px;
}

/*--FOOTER BLOCK--*/

.footer {
  margin: 0;
  padding: 0;
  height: 76px;
  background-color: #2d303a;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 12px;
  color: #666d89;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 42px;
}

.social {
  padding-right: 38px;
  padding-top: 21px;
}

.socialicon {
  margin-left: 2px;
}

.socialicon:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: #f0d8d9;
}

/*@media all and (min-width: 1020px) {
 
}*/

@media all and (max-width: 1020px) {
  .wrapper {
    width: 768px;
  }

  .header-nav {
    padding-top: 32px;
  }
  .slider-block {
    height: 445px;
  }
  .left-slider {
    padding-left: 60px;
  }
  .right-slider {
    padding-left: 58px;
  }

  .phone-button {
    width: 31px;
    height: 31px;
  }
  #vertical-phone-button {
    left: -334px;
    top: 78px;
  }
  #horizontal-phone-button {
    left: -51px;
    top: -73px;
  }
  /**PIRTFOLIO*/
  .servises-block {
    height: 669px;
  }
  .slide-container {
    height: 455px;
  }
  .services-header {
    padding-top: 46px;
  }
  .layout-3-column {
    margin-top: 36px;
  }
  .services-info {
    width: 50%;
    margin-bottom: 19px;
  }
  .services-info p {
    margin-top: 11px;
  }
  .portfolio {
    height: 1096px;
  }
  .nav-list {
    margin-top: 45px;
  }
  .layout-gallery {
    margin-top: 20px;
  }
  .picture {
    height: 184px;
    width: 215px;
  }

  /**ABOUT AS*/
  .about {
    height: 663px;
  }
  .header-about {
    padding-top: 53px;
  }
  .autors {
    padding-top: 20px;
  }
  .autor-info {
    padding-left: 11px;
    padding-right: 2px;
  }
  .human-photo {
    width: 219px;
    height: 217px;
  }
  .human-name {
    margin-top: 9px;
  }
  .human-info {
    margin: 0;
  }
  .contacts {
    margin-top: 12px;
  }

  /**FORMS*/
  .block-forms {
    height: 625px;
  }
  .quote-header {
    padding-top: 53px;
  }
  .quote-info {
    margin-bottom: 16px;
  }
  .user-information {
    padding-top: 0;
  }
  .forms {
    padding-top: 0;
  }
  .input-wind {
    margin-bottom: 3px;
    width: 426px;
  }
  .form-text {
    height: 147px;
  }
  .infomation {
    margin-left: 19px;
  }
  .contact-header {
    padding-top: 8px;
  }
  .contact-info {
    padding-top: 0px;
  }
  .column-contacts {
    padding-top: 13px;
  }

  /*PHONS**/

  .vertical-phone {
    left: 412px;
    top: 269px;
  }

  .vertical-container {
    width: 162.36px;
    height: 344.26px;
  }

  .vertical-back {
    width: 141.55px;
    height: 250.73px;
    top: -179px;
    left: -390px;
    background-position: -11px -107px;
    background-size: 448px;
  }

  .vertical-shadow {
    width: 180.71px;
    height: 363.67;
  }

  .horizontal-container {
    width: 162.36px;
    height: 344.26px;
  }

  .horizontal-back {
    height: 141.55px;
    width: 250.73px;
    top: -128px;
    left: -13px;
    background-position: -96px -93px;
    background-size: 448px;
  }

  .horizontal-shadow {
    width: 180.71px;
    height: 363.67;
  }

  .horizontal-phone {
    left: 304px;
    top: 271px;
  }

  .slider-two-img {
    height: 363.67px;
    top: 41px;
    left: 140px;
  }
}

@media all and (max-width: 768px) {
  .wrapper {
    width: 375px;
  }

  .header {
    height: 65px;
  }

  .header .wrapper {
    position: relative;
    justify-content: normal;
  }
  .logo-singolo {
    margin: 0;
    font-size: 20px;
    padding-top: 18px;
    padding-left: 104px;
  }

  .header-nav {
    display: none;
  }
  .hidden-menu {
    display: block;
  }
  .menu-icon {
    z-index: 7;
    display: block;
    cursor: pointer;
    padding-top: 23px;
    padding-left: 22px;
  }
  .menu-icon img {
    transform: rotate(90deg);
    transition: 0.5s;
  }
  .menu-logo {
    padding-left: 70px;
  }

  input.toogle-nav:checked + .menu-icon img {
    transform: none;
  }

  /***/
  .slider-block {
    height: 214px;
  }

  .right-slider {
    padding-left: 30px;
  }
  .left-slider {
    padding-left: 30px;
  }
  /**PHONS**/

  .slide-container {
    height: 226px;
  }
  .vertical-phone {
    left: 412px;
    top: 269px;
  }

  .vertical-container {
    width: 79.28px;
    height: 168.1px;
  }

  .vertical-back {
    width: 69.12px;
    height: 122.43px;
    top: -205px;
    left: -395px;
    background-size: 208px 216px;
    background-position: -4px -50px;
  }

  .vertical-shadow {
    width: 88.24px;
    height: 177.57px;
  }
  .vertical-phone {
    left: 405px;
    top: 248px;
  }
  .horizontal-container {
    height: 168.1px;
    width: 79.28px;
  }

  .horizontal-back {
    height: 69.12px;
    width: 122.43px;
    top: -180px;
    left: 10px;
    background-size: 208px 216px;
    background-position: -42px -45px;
  }

  .horizontal-shadow {
    height: 177.57px;
    width: 88.24px;
  }

  .horizontal-phone {
    left: 131px;
    top: 250px;
  }

  .slider-two-img {
    height: 363.67px;
    top: 41px;
    left: 140px;
  }
  .slider-two-img {
    height: 178px;
    top: 20px;
    left: 65px;
  }

  /***/
  .servises-block {
    height: 1027px;
  }
  .services-header {
    padding-top: 32px;
    padding-left: 32px;
  }
  .layout-3-column {
    margin-top: 27px;
    padding-left: 32px;
  }
  .services-info {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 16px;
  }

  /***/
  .portfolio {
    height: 838px;
  }
  .info-portfolio,
  .header-portfolio,
  .nav-list,
  .layout-gallery,
  .header-about,
  .about-info,
  .quote-header,
  .quote-info,
  .user-information {
    padding-left: 30px;
  }

  .header-portfolio {
    padding-top: 42px;
  }
  .info-portfolio {
    line-height: 29px;
    margin-top: 19px;
  }

  .nav-list {
    margin-top: 20px;
    margin-top: 17px;
  }

  .layout-gallery {
    padding-left: 20px;
    padding-right: 0;
  }
  .picture {
    height: 127px;
    width: 151px;
    margin: 8px;
  }
  .picture:nth-child(1n + 9) {
    display: none;
  }
  .picture-click {
    padding: 4px;
    margin: 4px;
  }

  /***/
  .about {
    height: 1748px;
  }

  .autor-info {
    margin-bottom: 29px;
  }
  .autors {
    padding-top: 6px;
    padding-left: 20px;
    display: block;
  }
  .human-name {
    margin-top: 14px;
  }
  .human-photo {
    width: 314px;
    height: 314px;
  }

  .header-about {
    padding-top: 33px;
  }
  /***/
  .block-forms {
    height: 963px;
  }
  .quote-header {
    padding-top: 44px;
  }
  .input-wind {
    margin-top: 7px;
    margin-bottom: 5px;
    width: 300px;
  }
  .form-submit {
    width: 315px;
    height: 50px;
    font-size: 24px;
  }
  .user-information {
    display: block;
  }
  .infomation {
    margin-top: 22px;
    margin-left: 0px;
  }
  .links-cont {
    padding-bottom: 11px;
  }

  /***/
  .footer .wrapper {
    justify-content: center;
  }
  .social {
    padding-right: 0px;
  }
  .copyright {
    display: none;
  }
}
/*
@media all and (max-width: 375px) {
}*/
